body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin: 40px;
}

.buttonWrapper {
  display:  flex;
  align-items: center;
  gap: 16px;
}
